

body {
  background-color: #f8f9fa;
  color: #343a40;
  padding-top: 4.5rem; /* space for fixed navbar */
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.chart-card,
.reflection-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  margin-bottom: 2rem;
    padding: 2rem 2rem 3rem;
    overflow: visible;
}

footer {
  text-align: center;
  padding: 2rem 0;
  color: #6c757d;
  font-size: 0.9rem;
}

.chart-card svg text {
  font-size: 13px;
}

.chart-card svg {
  overflow: visible;
}